.header{
    margin-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
   }

   .header__logo {
    width: 173px;
    height: 33px;
    object-fit: contain;
  }

@media (min-width: 581px) and (max-width: 775px) {
    .header {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media (max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;

    margin-left: 27px;
  }

  .header {
    padding-bottom: 32px;
    margin-top: 28px;
  }
}




  