.header{
    margin-top: 45px;
    padding-bottom: 41px;
    border-bottom: 2px solid rgba(84, 84, 84, 0.7);
   }

   .header__logo {
    width: 173px;
    height: 33px;
    object-fit: contain;
  }

@media (min-width: 581px) and (max-width: 775px) {
    .header {
        margin-right: 200px;
        margin-left: 200px;
    }
}

